params {
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data'
}

manifest {
    name            = 'nextflow_workflow'
    author          = """nf-core"""
    homePage        = 'https://127.0.0.1'
    description     = """Dummy pipeline"""
    nextflowVersion  = '!>=23.04.0'
    version         = '9.9.9'
    doi             = 'https://doi.org/10.5281/zenodo.5070524'
}
